.header {
  margin-top: 10px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 5px;
  box-shadow: 0 0 10px gray;
  background-color: white;

}

.app-logo-name {
  font-size: 40px;
}

.login-as-btn {
  background-color: white;
  border: 1px solid gray;
  font-size: 1em;
  padding: .4rem 3rem;
  border-radius: 5px;
}

.login-btn-container {
  position: relative;
}

.login-type-drop-down {
  border: 1px solid gray;
  position: absolute;
  top: 110%;
}

.login-type-drop-down li {
  list-style-type: none;
  list-style-position: inside;
  padding: .4rem 2.5rem;

}

.login-type-drop-down li:hover {
  background-color: rgba(0, 162, 255, 0.5);
  color: white;
}