.header {
  margin-top: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 5px;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.75);
  background-color: white;
}

.get-started-btn {
  background-color: white;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
}